@charset 'utf-8';
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
main{
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
footer{
	display: flex;
	width: 390px;
	justify-content: center;
	text-align: center;
	position: absolute;
	bottom: 10px;
}
aside{
	width: 390px;
	padding: 20px;
}
p{
	margin: 0;
}
.form-control{
	padding: 0;
	
}
input[type=number], .btn-addon{
	background-color: white;
}
.list_2{
	flex-wrap:wrap;
	flex-direction: row;
	gap:1rem;
	padding: 0 1rem;
}
.list_2 li{
	width: 49%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
	text-align: right;
	vertical-align:middle;
}
.table td{
	vertical-align: baseline;
}

.input-group-text{
	background: transparent;
	border:none;
}
.row{
	flex-direction: row;
	align-items: center;
}
#map-wrap{
	height: 100vh;
}
#map {
	width: 100%;
	height: 100%;
}

.cmp_info figure{
	width: 150px;
	height: 150px;
	margin-right: 1rem;
}
.cmp_info img{
	width: 100%;
}
.receipt_list{
	width: 100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:between;
	gap:10px;
}
.receipt{
	width:250px;
	height: fit-content;
}
.btn-custom{
	background-color: #563d7c;
	color: white;
}
.btn-custom:hover{
	color: white;
}
.btn-outline-custom{
	border-color:  #563d7c;
	background-color: white;
	color: #563d7c;
}
.btn-outline-disabled{
	border-color: rgba(118, 118, 118, 0.3);
	background-color:#e9ecef;
	color: black;
}
.btn-toggle{
	background-color:white;
	color: #007bff;
	border: 1px solid white;
	margin-bottom: 0.5rem;
	padding: 0;
	text-decoration:underline;
}
.btn-borderless{
	display: inline-block;
	padding: .375rem .75rem;
	text-align: center;
	font-size: 1rem;
    line-height: 1.5;
}
.btn-addon{
	border-color: rgba(118, 118, 118, 0.3);
	width: 38px;
	font-size: 1.5rem;
	line-height: 1;
}
.map_wrap{
	position: relative;
}

.table-borderless th, .table-borderless td{
	border: none;
}
.review_content{
	margin: 0 0.5rem;
	max-height: 72px;
	white-space: pre;
	overflow:hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.show{
	max-height: fit-content;
	display:block;
}
.dropdown_btn{
	position:relative;
}
.dropdown{
	position:absolute;
	z-index : 1;
	background-color: white;
	width: 100%;
	bottom: -300%;
}
