@charset 'utf-8';
header{
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
main{
	min-height: calc(100vh - 150px);
}
footer{
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 2rem;
}
table th{
	text-align: center;
}
#map {
	width: 100%;
	height: 600px;
	margin: 0 auto;
}
.col-form-label{
	width: 80px;
	text-align:center;
	font-weight: bold;
}
#dest_img {
	width: 100px;
	height: 100px;
	margin: 0 1rem;
}
.hidden{
	display: none;
}
.place_info{
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.btn-custom{
	background-color: #563d7c;
	color: white;
}
.btn-custom:hover{
	color: white;
}
.btn-outline-custom{
	border-color:  #563d7c;
	background-color: white;
	color: #563d7c;
}
.btn-outline-disabled{
	border-color: rgba(118, 118, 118, 0.3);
	background-color:#e9ecef;
	color: black;
}
.btn-toggle{
	background-color:white;
	color: #007bff;
	border: 1px solid white;
	margin-bottom: 0.5rem;
	padding: 0;
	text-decoration:underline;
}
.map_wrap{
	position: relative;
}
.custom_zoomctrl{
	width: 20%;
	position: absolute;
	z-index: 1;
	top:10px;
	right:10px;
	background-color: white;
}
.table-borderless th, .table-borderless td{
	border: none;
}
.user_id{
	display: inline-block;
	width: 4rem;
	margin-left: 1rem;
}
.review_title{
	margin-bottom:0.5rem;
}
.review_content{
	margin: 0 0.5rem;
	max-height: 72px;
	white-space: pre;
	overflow:hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.show{
	max-height: fit-content;
	display:block;
}