@charset 'utf-8';
header{
	background-color:#FAE100;
	padding-top: 10px	
}
header .container{
	font-weight: bold;
}
a{
	color: black;
}
a:hover{
	color: black;
}
main{
	min-height: calc(100vh - 185px);
}
footer{
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 1rem;
	background-color:#e5e5e5;
}
p{
	margin: 0;
}
ul{
	width: 100%;
}
figure{
	padding: 1rem;
}
img{
	width: 100%;
}
.nav-pills a,
.pagination .page-link{
	
	color: #191919;
}
.nav-pills .nav-link.active
{
	font-weight: bold;
	background-color: #191919;
	color: #FAE100;
	border-color: #191919;
}
.pagination .page-item.active .page-link{
	font-weight: bold;
	text-decoration: underline;
	background-color: #FAE100;
	color: black;
	border-color: #FAE100;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]{
	text-align: right;
}
.table td{
	vertical-align: baseline;
}

.cmp_info figure{
	width: 150px;
	height: 150px;
}
.cmp_details{
	padding: 20px;
}
.list_2, .list_4{
	display:flex;
	flex-wrap:wrap;
	flex-direction: row;
	gap:1rem;
}
.list_2 li{
	width: 450px;
}
.list_4 li{
	width: 210px;
}

.btn-custom{
	background-color: #191919;
	color: #FAE100;
	font-weight: bold;
}
.btn-custom:hover{
	color: #FAE100;
}
.btn-outline-custom{
	border-color: #191919;
	background-color: white;
	color: #191919;
}

.btn-toggle{
	background-color:white;
	color: #4F37A5;
	border: 1px solid white;
	margin-bottom: 0.5rem;
	padding: 0;
	text-decoration:underline;
}
.btn-borderless{
	display: inline-block;
	padding: .375rem .75rem;
	text-align: center;
	font-size: 1rem;
    line-height: 1.5;
}
.btn-addon{
	border-color: rgba(118, 118, 118, 0.3);
	width: 38px;
	font-size: 1.5rem;
	line-height: 1;
	background-color: white;
}
.btn-group{
	gap: 1rem;
}
.table-borderless th, .table-borderless td{
	border: none;
}
.review_content{
	margin: 0 0.5rem;
	white-space: pre-line;
	overflow:hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.show{
	max-height: fit-content;
	display:block;
}