<html layout:decorate="~{layout/cmpinfo_layout}">
<div class = "col-6" layout:fragment="content">
	<table class = "table table-borderless table-sm"
	th:if = "${session.cmpInfo!=null}"
	th:with = "cmp = ${session.cmpInfo}"
	>
		<tr>
			<th>이미지</th>
			<td>
			<figure style="width:150px">
				<img th:src = "@{|/img/${cmp.ctgrName}.png|}">
			</figure></td>
		</tr>
		<tr>
			<th>브랜드</th>
			<td th:text = "${cmp.brandName}"></td>
		</tr>
		<tr>
			<th>상호명</th>
			<td th:text = "${cmp.cmpName}"></td>
		</tr>
		<tr>
			<th>주소</th>
			<td th:text = "${cmp.cmpAddr}"></td>
		</tr>
		<tr>
			<th>평가</th>
			<td th:text = "|⭐ ${cmp.score} (💬 ${cmp.cmpReviewCnt})|"></td>
		</tr>
	</table>
	<script type="text/javascript">
	let cmpInfo = document.querySelector("#nav_mypage");
	let cmpInfoCol = document.querySelector("#cmp_info");
	cmpInfoCol.classList.add("active");
	cmpInfo.classList.add('active');
	</script>
</div>

</html>