<html layout:decorate="~{layout/map_layout}">
<main layout:fragment="content">
	<div class = "map_content ">
	<nav th:replace = "~{fragments/header :: headerFragment}"></nav>
	
	<form name = "searchForm" class = "px-3">
		<div class = "input-group align-items-center g-3">
			<div class = "col-3">
				<label class = "col-form-label">출발</label>
			</div>
			<th:block th:if = "${start == null}">
				<input type = "hidden" id = "start_x" value = "">
				<input type= "hidden" id = "start_y" value = "">
				<p>현재 위치</p>
			</th:block>
			<th:block th:if = "${start != null}">
				<input type = "hidden" id = "start_x" th:value = "${start.cmpLng}">
				<input type= "hidden" id = "start_y" th:value = "${start.cmpLat}">
				<p th:text = "${start.cmpName}"></p>
			</th:block>
		</div>
		<div class = "input-group align-items-center g-3">
			<div class = "col-3">
				<label class = "col-form-label">도착</label>
			</div>
			<input type = "hidden" id = "place_x" th:value = "${end.cmpLng}">
			<input type= "hidden" id = "place_y" th:value = "${end.cmpLat}">
			<p th:text = "${end.cmpName}"></p>
		</div>
	</form>
	<div class = "container">
	<hr>
	<section class="cmp_info d-flex">
		<figure>
			<img th:src="@{|/img/${end.ctgrName}.png|}">
		</figure>
		<div class = "cmp_details col-8">
			<a th:href = "@{|/product/list?cmp=${end.cmpName}|}">
			<b th:text = "${end.cmpName}"></b></a>
			<br>
			<div 
			class = "btn-group my-1">
				<a class = "btn btn-sm btn-outline-custom" 
				th:href = "@{|/fav/add?name=${end.cmpName}|}">📍 북마크</a>
				<span class = "btn btn-sm btn-outline-custom" 
				>길찾기</span>
				<a class = "btn btn-sm btn-outline-custom" 
				th:href = "@{|/review/list?name=${end.cmpName}|}">리뷰</a>
			</div>
			<br>
			<span 
			th:text = "${end.brandName}"
			class = "badge text-bg-secondary"></span>
			<br>
			<span 
			th:text = "${end.cmpAddr}"></span>
			<br>
			<span 
			th:text = "|⭐ ${end.score} (💬 ${end.cmpReviewCnt})|"></span>
		</div>
	</section>
	</div>
	<nav th:replace = "~{fragments/footer :: footerFragment}"></nav>
	</div>
	
	<div class="map_wrap col">
		<div id="map"></div>
	</div>
	<script>
	let startX = document.querySelector("#start_x");
	let startY = document.querySelector("#start_y");
	let placeX = document.querySelector("#place_x");
	let placeY = document.querySelector("#place_y");
	let startName = document.querySelector("#start_name");
	
	fetch('http://ip-api.com/json/', {
		method: 'get',
	})
	.then(response=>response.json())
	.then(res=>{
		success(res.lat, res.lon);
	});
	
	function success(lat, lon){
		let startLng;
		let startLat;
		if(startX.value != ''){
			startLng = Number(startX.value);
			startLat = Number(startY.value);
		}else{
			startLng = lon;
			startLat = lat;
			geocoder.coord2Address(startLng, startLat, function(result, status){
				if (status === kakao.maps.services.Status.OK) {
					startName.value = '현재 위치';
				}
			});
		}
		currentPos = new kakao.maps.LatLng(startLat, startLng);
		let destPos = new kakao.maps.LatLng(Number(placeY.value), Number(placeX.value));

		let options = {
			    center: currentPos,
			    draggable: false, //지도변경금지
			    level: 4
			};
		map = new kakao.maps.Map(container, options);
		
		let points = [
			currentPos,
			destPos
		];
		let bounds = new kakao.maps.LatLngBounds();
		let currentMarker = new kakao.maps.Marker({
			map:map,
		    position: currentPos,
		    image: markerImage
		});
		let destMarker = new kakao.maps.Marker({
	        map: map,
	        position: destPos
	    });
		
		bounds.extend(currentPos);
		bounds.extend(destPos);
		
		let linepath =[];
		
		let origin = 'origin='+startLng+","+startLat;
		let dest = '&destination='+Number(placeX.value)+','+Number(placeY.value);
		fetch('https://apis-navi.kakaomobility.com/v1/directions?'+origin+
				dest+"&car_type=7&priority=distance&summary=false&avoid=motorway", {
	    	method: 'get',
	    	headers: {
	    		Authorization: 'KakaoAK 20e11ac823d1e1da60abf91d242a5478',
	            'content-type': 'application/json'
	        },
	    })
	    .then((response)=>response.json())
	    .then((data)=>{
	    	let temp = data.routes[0].sections[0].guides;
	    	temp.forEach((item)=>{
	    		let pathPos = new kakao.maps.LatLng(Number(item.y), Number(item.x));
	    		linepath.push(pathPos);
	    		bounds.extend(pathPos);
	    	})
	    	let polyline = new kakao.maps.Polyline({
				path:linepath,
				strokeWeight:3,
				strokeColor: '#75B8FA',
				strokeOpacity:1,
				strokeStyle:'solid'
			});
	    	map.setBounds(bounds);
			polyline.setMap(map);
	    });
	}

	</script>
</main>
</html>