<html layout:decorate="~{layout}">
<main class = "container d-flex"  
layout:fragment="content">
<div class = "col-6">
	<table class = "table table-borderless"
	th:if = "${session.cmpInfo!=null}"
	th:with = "cmp = ${session.cmpInfo}">
		<tr>
			<th>상호명</th>
			<td th:text = "${cmp.cmpName}"></td>
		</tr>
		<tr>
			<th>주소</th>
			<td th:text = "${cmp.cmpAddr}"></td>
		</tr>
	</table>
</div>
<script type="text/javascript">
	let navMyPage = document.querySelector('#nav_mypage');
	let myInfoMenu = document.querySelector("#my_info");
	myInfoMenu.classList.add('active');
	navMyPage.classList.add('active');
	</script>
</main>
</html>