<main class = "container">
    <ul>
        <li>
            <button>X</button>
            <img src = "/img/product.png">
            <b>상품명</b>
            <span>수량</span><span>가격</span>
            <a href = "/product/modify">수정</a>
        </li>
        <li>
            <button>X</button>
            <img src = "/img/product.png">
            <b>상품명</b>
            <span>수량</span><span>가격</span>
            <a href = "/product/modify">수정</a>
        </li>
    </ul>

    <ul class = "pagination">
        <li class = "page-item">
            <a href = "page-link">1</a>
        </li>
    </ul>
</main>