<html layout:decorate="~{layout}">
<main class = "container"  layout:fragment="content">
	<p th:text = "|${orderPage.totalElements}개의 주문 대기중|"></p>
	<hr>
	<ul th:if = "${orderPage} != null" 
	class = "list-group col-8 my-3">
        <li th:each = "order: ${orderPage}" 
        class = "list-group-item mb-3">	<div class = "d-flex justify-content-between align-items-center">
        		<b th:text = "|${order.userId}의 주문서|"></b>
        		<a th:href = "@{|/order/cmp/cancel?id=${order.id}|}" 
            	class = "btn btn-sm btn-danger col-1">X</a>
        	</div>
            <table class = "purchase_info table table-sm mt-3" th:id = "|order_${order.id}|">
            	<tr>
            		<th>상품</th>
            		<th>수량</th>
            		<th>가격</th>
            	</tr>
            	<tr th:each = "detail : ${order.odList}">
            		<td th:text = "${detail.productName}"></td>
            		<td th:text = "${detail.productCount}"></td>
            		<td th:text = "${detail.productPrice}"></td>
            	</tr>
            	<tr th:if = "${order.odList.size()==0}">
            		<td colspan = 3>내역이 없습니다</td>
            	</tr>
            	<tr>
            		<td colspan = 2>배송비</td>
            		<td th:text = "${order.price <40000 ? 3000 : 0}">
            	</tr>
            	<tr>
            		<td colspan = 2>총 금액</td>
            		<td th:text = "|총 ${order.price} 원|"></td>
            	</tr>
            </table>
            <a th:if = "${order.state}==0" 
            th:href = "@{|/order/cmp/accept?id=${order.id}|}"
            	class = "btn btn-custom">접수</a>
            <a th:if = "${order.state}==1" 
            th:href = "@{|/order/cmp/done?id=${order.id}|}"
           	 class = "btn btn-info">완료</a>
        </li>
    </ul>
    <ul class = "pagination justify-content-center" 
    th:if = "${orderPage.totalPages} != 0"
 	th:with = "block = 10,
 	total = ${orderPage.totalPages},
 	number = ${orderPage.number+1},
 	sidx = ${(number/block)*block+1}, 
 	eidx = ${(total > sidx+(block-1) ? sidx+(block-1) : total)}">
 		<li class = "page-item" 
 		th:classappend="${number} == 1 ? disabled">
 			<a class = "page-link" 
 			th:href = "@{|/order/cmp/list?page=${number-1}|}">&lt;</a>
 		</li>
 		<th:block th:each = "idx:${#numbers.sequence(sidx, eidx)}">
 		<li class = "page-item" 
 		th:classappend="${number}==${idx} ? active">
 			<a class = "page-link" 
 			th:text = "${idx}" 
 			th:href = "@{|/order/cmp/list?page=${idx}|}" ></a>
 		</li>
 		</th:block>
 		<li class = "page-item" 
 		th:classappend="!${orderPage.hasNext} ? disabled">
 			<a class = "page-link" 
 			th:href = "@{|/order/cmp/list?page=${number+1}|}">&gt;</a>
 		</li>
 	</ul>
 	<script type="text/javascript">
	let navOrder = document.querySelector('#nav_order');
	navOrder.classList.add('active');
	</script>
	<script src = "/js/purchase.js"></script>
</main>
</html>