<html layout:decorate="~{layout/cmpinfo_layout}">
<div class = "col-8" layout:fragment="content">
   	<b th:text = "|[공지] ${notice.title}|"></b>
   	<br>
   	<span th:text = "${#temporals.format(notice.createDate, 'yy/MM/dd')}"></span>
   	|
   	<span th:text = "|조회수 ${notice.read}|"></span>
   	|
   	<span th:text = "|댓글 ${replyPage.totalElements}|"></span>
   	<hr>
   	<figure>
   		<img src = "/img/event.jpg">
   	</figure>
   	<p th:text = "${notice.content}"
   	class = "text-center"></p>
	<a th:href = "@{|/notice/cmp/modify?id=${notice.seq}|}"
   	class = "btn btn-custom">수정</a>
   	<a href = "javascript:void(0);" 
   	th:data-id = "${notice.seq}"
   	class = "btn btn-danger"
   	id = "del_btn">삭제</a>
   	<span th:text = "|추천 ${notice.like}|"
	class = "btn btn-warning my-3"></span>
	<hr>
	<p th:text = "|${replyPage.totalElements}개의 댓글|"></p>
   	<table class = "table my-3">
   		<tr>
   			<th>작성자</th>
   			<th>내용</th>
   			<th>작성일</th>
   		</tr>
   		<tr th:each = "reply: ${replyPage}">
   			<td th:text = "${reply.userId}"
   			class = "col-2"></td>
   			<td th:text = "${reply.content}"
   			class = "col-6"></td>
   			<td th:text = "${#temporals.format(reply.createDate, 'yy/MM/dd')}"></td>
   		</tr>
   	</table>
   	<hr>
   	<ul class = "pagination justify-content-center" 
	    th:if = "${replyPage.totalPages} != 0"
	 	th:with = "block = 10,
	 	total = ${replyPage.totalPages},
	 	number = ${replyPage.number+1},
	 	sidx = ${((number-1)/block)*block+1}, 
	 	eidx = ${(total > sidx+(block-1) ? sidx+(block-1) : total)}">
	 		<li class = "page-item" 
	 		th:classappend="${number} == 1 ? disabled">
	 			<a class = "page-link" 
	 			th:href = "@{|/notice/detail/cmp?id=${notice.seq}&page=${number-1}|}">&lt;</a>
	 		</li>
	 		<th:block th:each = "idx:${#numbers.sequence(sidx, eidx)}">
	 		<li class = "page-item" 
	 		th:classappend="${number}==${idx} ? active">
	 			<a class = "page-link" 
	 			th:text = "${idx}" 
	 			th:href = "@{|/notice/detail/cmp?id=${notice.seq}&page=${idx}|}" ></a>
	 		</li>
	 		</th:block>
	 		<li class = "page-item" 
	 		th:classappend="!${replyPage.hasNext} ? disabled">
	 			<a class = "page-link" 
	 			th:href = "@{|/notice/detail/cmp?id=${notice.seq}&page=${number+1}|}">&gt;</a>
	 		</li>
 		</ul>
 	<script>
 	let navMyPage = document.querySelector('#nav_mypage');
 	let cmpNotice = document.querySelector("#cmp_notice");
 	cmpNotice.classList.add('active');
 	navMyPage.classList.add('active');
 	</script>
</div>
</html>