<main class = "container">
    <form action = "mypage/modify" method = "post">
        <table>
            <tr>
                <th>상호</th>
                <td><input type = "text" name = "cmp_id"></td>
            </tr>
            <tr>
                <th>주소</th>
                <td><input type = "text" name = "place_addr"></td>
            </tr>
            <tr>
                <th>카테고리</th>
                <td><input type = "text" name = "place_ctgr"></td>
            </tr>
            <tr>
                <th>브랜드</th>
                <td><input type = "text" name = "brand_name"></td>
            </tr>
        </table>
        <input type = "submit" value = "수정">
    </form>
</main>