<main class="container">
    <h3>리뷰</h3>
    <hr>
    <ul>
        <li>
            <span>평점</span>
            <b>사용자</b>
            <p>내용</p>
            <span>날짜</span>
            <button>more</button>
        </li>
        <li>
            <span>평점</span>
            <b>사용자</b>
            <p>내용</p>
            <span>날짜</span>
        </li>
        <li>
            <span>평점</span>
            <b>사용자</b>
            <p>내용</p>
            <span>날짜</span>
        </li>
    </ul>

    <ul class = "pagination">
        <li class = "page-item">
            <a href = "page-link">1</a>
        </li>
    </ul>
</main>