<html layout:decorate="~{cmp_layout}">
<main class = "container-fluid mx-3"  layout:fragment="content">
	<hr>
	<section id = "cmp_info">
		<h3 th:text = "${session.cmpInfo.name}"></h3>
	</section>
	<nav th:replace="~{cmp_nav :: cmpNavFragment}"></nav>
	<th:block th:if = "${session.cmpInfo.state} == 'c'">
		<a href = "/cmp/open"
    	class = "btn btn-sm btn-custom">영업 시작</a>
	</th:block>
	
    <th:block th:if = "${session.cmpInfo.state} == 'o'">
    	<p>현재 영업 중</p>
    	<a href = "/cmp/close"
    	class = "btn btn-sm btn-custom">영업 종료</a>
	</th:block>
	
</main>