<html layout:decorate="~{layout}">
<main class = "container"  layout:fragment="content">
	<p th:text = "|상품 ${products.totalElements}개|"></p>
	<ul th:if = "${products} != null" 
	class = "receipt_list container-fluid">
        <li th:each = "product: ${products}" 
        class = "receipt card p-3">
        	<img th:src = "@{|/img/products/${product.img}.png|}">
        	<b th:text = "|${product.name}|"></b>
        	<span th:text = "|${product.price}원|"></span>
        	<p th:if = "${session.cmpInfo!=null}"
        	th:text = "|재고 ${product.count}개|"></p>
        	<div class = "btn-group">
	        	<a th:href = "@{|/product/cmp/update?pid=${product.id}|}"
	        	class = "btn btn-custom col-6">
	        		수정
	        	</a>
	        	<button class = "del_product btn btn-danger col-6"
	        	th:id = "${product.id}">
	        		삭제
	        	</button>
        	</div>
        </li>
    </ul>
    <a th:if =  "${session.cmpInfo!=null}"
    class = "btn btn-custom"
    href = "/product/cmp/create">등록하기</a>
    <ul class = "pagination justify-content-center" 
    th:if = "${products.totalPages} != 0"
 	th:with = "block = 10,
 	total = ${products.totalPages},
 	number = ${products.number+1},
 	sidx = ${(number/block)*block+1}, 
 	eidx = ${(total > sidx+(block-1) ? sidx+(block-1) : total)}">
 		<li class = "page-item" 
 		th:classappend="${number} == 1 ? disabled">
 			<a class = "page-link" 
 			th:href = "@{|/product/list?page=${number-1}|}">&lt;</a>
 		</li>
 		<th:block th:each = "idx:${#numbers.sequence(sidx, eidx)}">
 		<li class = "page-item" 
 		th:classappend="${number}==${idx} ? active">
 			<a class = "page-link" 
 			th:text = "${idx}" 
 			th:href = "@{|/product/list?page=${idx}|}" ></a>
 		</li>
 		</th:block>
 		<li class = "page-item" 
 		th:classappend="!${products.hasNext} ? disabled">
 			<a class = "page-link" 
 			th:href = "@{|/product/list?page=${number+1}|}">&gt;</a>
 		</li>
 	</ul>
 	<script type="text/javascript">
	let navProduct = document.querySelector('#nav_product');
	let delProdBtn = document.querySelectorAll('.del_product');
	
	navProduct.classList.add('active');
	for(let i = 0;i<delProdBtn.length;i++){
		let e = delProdBtn[i];
		e.addEventListener('click', function(event){
			if(confirm('정말 삭제하시겠습니까?')){
				let pid = event.target.id;
				location.href = "/product/cmp/delete?pid="+pid;
			}
		})
	}
	</script>
</main>
</html>