<html layout:decorate="~{layout/layout}">
<main class = "container"  layout:fragment="content">
	<b th:text = "|${favPage.totalElements}곳의 단골|"></b>
	<hr>
	<ul th:if = "${favPage} != null" 
	class = "list-group list_2">
        <li th:each = "fav: ${favPage}" 
        class="cmp_info d-flex list-group-item">
        	<figure>
				<img th:src="@{|/img/${fav.cmp.ctgrName}.png|}">
			</figure>
			<div class = "cmp_details col-8">
			<a th:href = "@{|/product/list?cmp=${fav.cmpName}|}"
			>
			<b th:text = "${fav.cmpName}"></b></a>
			<br>
			<div id = "dest_links" 
			class = "btn-group my-1">
				<a class = "btn btn-sm btn-outline-custom" 
				id = "route_link" 
				th:href = "@{|/cmp/route?ename=${fav.cmp.cmpName}|}">길찾기</a>
				<a class = "btn btn-sm btn-outline-custom" 
				id = "review_link"
				th:href = "@{|/review/list?name=${fav.cmp.cmpName}|}">리뷰</a>
				<button class = "btn btn-sm btn-outline-danger del_fav" 
				th:id = "${fav.id}">삭제</button>
			</div>
			<div>
				<span id = "dest_ctgr"
				th:text = "${fav.cmp.brandName}"
				class = "badge text-bg-secondary"></span>
				<br>
				<span id="dest_addr"
				th:text = "${fav.cmp.cmpAddr}"></span>
				<br>
				<span id = "dest_score"
				th:text = "|⭐ ${fav.cmp.score} (💬 ${fav.cmp.cmpReviewCnt})|"></span>
			</div>
		
        </li>
    </ul>
    <hr>
    <ul class = "pagination justify-content-center" 
    th:if = "${favPage.totalPages} != 0"
 	th:with = "block = 10,
 	total = ${favPage.totalPages},
 	number = ${favPage.number+1},
 	sidx = ${((number-1)/block)*block+1}, 
 	eidx = ${(total > sidx+(block-1) ? sidx+(block-1) : total)}">
 		<li class = "page-item" 
 		th:classappend="${number} == 1 ? disabled">
 			<a class = "page-link" 
 			th:href = "@{|/fav/list?page=${number-1}|}">&lt;</a>
 		</li>
 		<th:block th:each = "idx:${#numbers.sequence(sidx, eidx)}">
 		<li class = "page-item" 
 		th:classappend="${number}==${idx} ? active">
 			<a class = "page-link" 
 			th:text = "${idx}" 
 			th:href = "@{|/fav/list?page=${idx}|}" ></a>
 		</li>
 		</th:block>
 		<li class = "page-item" 
 		th:classappend="!${favPage.hasNext} ? disabled">
 			<a class = "page-link" 
 			th:href = "@{|/fav/list?page=${number+1}|}">&gt;</a>
 		</li>
 	</ul>
 	<script type="text/javascript">
	let navFav = document.querySelector('#nav_fav');
	let delBtns = document.querySelectorAll(".del_fav");
	
	for(let i = 0;i<delBtns.length;i++){
		delBtns[i].addEventListener('click', function(event){
			if(confirm("정말로 삭제하시겠습니까?")){
				location.href = '/fav/del?id='+event.target.id;
			}
		});
	}
	navFav.classList.add('active');
	</script>
</main>
</html>