<html layout:decorate="~{layout/map_layout}">
<main layout:fragment="content">
	<div class = "map_content ">
	<nav th:replace = "~{fragments/header :: headerFragment}"></nav>
	
	<form class = "px-3">
		<div class = "input-group align-items-center g-3">
			<div class = "col-3">
				<label class = "col-form-label">내 위치</label>
			</div>
			<select class="form-control col" 
			id = "start_select">
				<option value = "현재 위치">현재 위치</option>
				<option th:each = "fav : ${favList}" 
				th:if = "${session.userInfo!=null}"
				th:value = "${fav.cmpName}" 
				th:text = "${fav.cmpName}"></option>
			</select>
		</div>
	</form>
	<form id = "dest_form"
	class = "p-3">
		<div class = "input-group align-items-center g-3 pb-3">
			<div class = "col-3">
				<label class = "col-form-label">카테고리</label>
			</div>
			<select class="form-control col"
			id = "ctgr_select">
				<option value = "">분류</option>
				<option th:each = "ctgr: ${ctgrList}" 
				th:value = "${ctgr.name}"
				th:text = "${ctgr.text}"></option>
			</select>
			<select class="form-control col" 
			id="brand_select">
				<option value = "0">상세</option>
			</select>
		</div>
		<div class = "input-group">
			<div class = "col-3">
				<label class = "col-form-label">검색</label>
			</div>
			<input type="search" 
			class="form-control" 
			id="keyword_input">
			<input type="submit" 
			value="검색" 
			class="btn btn-custom">
		</div>
	</form>
	<div class = "container">
	<hr>
	<section class="cmp_info d-flex">
		<figure>
			<img src="/img/all.png"
			id = "dest_img">
		</figure>
		
		<div class = "cmp_details col-8">
			<p><a href = "#"
			id = "product_list">
			<b id = "dest_name" >현재 위치</b></a></p>
			<span id = "dest_ctgr"
			class = "badge text-bg-secondary"></span>
			<span id = "dest_score"></span>
			<p id = "cmp_state"></p>
			<div id = "dest_links" 
			class = "btn-group d-none my-1">
				<a class = "btn btn-sm btn-outline-custom" 
				id ="fav_link" 
				href = "#">📍 북마크</a>
				<a class = "btn btn-sm btn-outline-custom" 
				id = "route_link" 
				href = "#">길찾기</a>
				<a class = "btn btn-sm btn-outline-custom" 
				href = "#" 
				id = "review_link">리뷰</a>
				
			</div>
			<p id="dest_addr"></p>
			<p id="dest_dist"></p>
		</div>
	</section>
	</div>
	<nav th:replace = "~{fragments/footer :: footerFragment}"></nav>
	</div>
	<div class="map_wrap col">
		<div id="map"></div>
	</div>
	
	<script>
	let startSelect = document.querySelector("#start_select");
	
	let destForm = document.querySelector("#dest_form");
	let category = document.querySelector("#ctgr_select ");
	let brand = document.querySelector("#brand_select ");
	let keywordInput = document.querySelector("#keyword_input");
	
	let destImg = document.querySelector('#dest_img');
	let destName = document.querySelector('#dest_name');
	
	let destLinks = document.querySelector("#dest_links");
	let favLink = document.querySelector('#fav_link');
	let routeLink = document.querySelector('#route_link');
	let reviewLink = document.querySelector("#review_link");
	let destAddr = document.querySelector('#dest_addr');
	let destDist = document.querySelector('#dest_dist');
	let prodLink = document.querySelector("#product_list");
	let destCtgr = document.querySelector("#dest_ctgr");
	let destScore = document.querySelector("#dest_score");
	let cmpState = document.querySelector("#cmp_state");
	let navStore = document.querySelector("#nav_store");
	
	navigator.geolocation.getCurrentPosition(success);
	startSelect.addEventListener('change', onStartSelect);
	destForm.addEventListener('submit', destFormSubmit);
	category.addEventListener('change', onSelect);
	brand.addEventListener('change', function(event){
		keywordInput.value = event.target.selectedOptions[0].innerText;
	});
	
	function drawMap(pos){
		let options = {
			    center: currentPos,
			    draggable: false, //지도변경금지
			    level: 3
			};
		map = new kakao.maps.Map(container, options);
		let currentMarker = new kakao.maps.Marker({
			map:map,
		    position: currentPos,
		    image: markerImage
		});
		let circle = new kakao.maps.Circle({
		    center : currentPos,
		    radius : mapRange,
		    strokeWeight: 2,
		    strokeColor: '#75B8FA',
		    strokeOpacity: 1,
		    strokeStyle: 'solid',
		    fillColor: '#CFE7FF',
		    fillOpacity: 0.1
		});
		circle.setMap(map);
	}
	
	function success(pos){
		currentPos = new kakao.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
		drawMap(currentPos);
		searchAddrFromCoords(currentPos, function (result, status) {
	        if (status === kakao.maps.services.Status.OK) {
	            let content = result[0].address.address_name;
				destAddr.innerText = content;
			}
	    });
	}//현재위치 로드
	
	function destFormSubmit(event){
	    event.preventDefault();
	    if(keywordInput.value == ''){
	    	ps.categorySearch(category.value, placesSearchCB, {
	            location: currentPos,
	            radius: mapRange
	        });
	    }else{
	    	 ps.keywordSearch(keywordInput.value, placesSearchCB, {
	 	        category_group_code: category.value,
	 	        location: currentPos,
	 	        radius: mapRange
	 	    });
	    }
	}//키워드 || 카테고리 검색

 	 function displayMarker(place) {
		var marker = new kakao.maps.Marker({
	        map: map,
	        position: new kakao.maps.LatLng(place.y, place.x)
	    });
	    placeMarkers.push(marker);
	    kakao.maps.event.addListener(marker, 'click', async function () {
	    	let check = await checkPlace(place);
			check = JSON.parse(check);
	    	if(check == 0){
				savePlace(place);
			}
	    	destName.innerText = place.place_name;
			destDist.innerText = '현재 위치에서 '+place.distance+"미터";
	        showPlaceInfo(place);
	    });
	}//마커 목록 표시, 이벤트리스너(장소정보 표시 & 저장)
	
	function onStartSelect(event) {
		let sName = event.target.value;
		fetch("/cmp/get?name=" + sName, {
			method: 'get',
			headers: {
				'content-type': 'text'
			},
		})
		.then((response) => response.json())
		.then((data) => {
			destAddr.innerText = data.cmpAddr;
			currentPos = new kakao.maps.LatLng(Number(data.cmpLat), 
			Number(data.cmpLng));
			drawMap(currentPos);
			destName.innerText = data.cmpName;
			showPlaceInfo();
		});
	}

	function checkPlace(place) {
		return new Promise((resolve) => {
			fetch("/cmp/check?name=" + place.place_name, {
				method: 'get',
				headers: {
					'content-type': 'text'
				},
			})
			.then(response => response.json())
			.then(data => resolve(data))
		});
	}

	function savePlace(place) {
		fetch("/cmp/save", {
			method: 'post',
			headers: {
				'content-type': 'application/json'
			},
			body: JSON.stringify({
				ctgr: place.category_group_code.toLowerCase(),
				name: place.place_name,
				addr: place.address_name,
				brand: place.category_name.split(" > ").reverse()[0],
				latitude: place.y,
				longitude: place.x,
			}),
		})
		.then(response=>{
			if(response.ok){
				showPlaceInfo();
			}
		});
	}//클릭 시 장소 저장

	function showPlaceInfo(){
		fetch("/cmp/get?name=" + destName.innerText, {
			method: 'get',
			headers: {
				'content-type': 'text'
			},
		})
		.then((response) => response.json())
		.then((result) => {
			destImg.setAttribute('src', `/img/${result.ctgrName}.png`);
			destLinks.classList.remove('d-none');
			favLink.href = `/fav/add?name=${result.cmpName}`;
			routeLink.href = `/cmp/route?sname=${startSelect.value}&ename=${result.cmpName}`;
			reviewLink.href = `/review/list?name=${result.cmpName}`;
			prodLink.href = `/product/list?cmp=${result.cmpName}`;
			destAddr.innerText = result.cmpAddr;
			destScore.innerText = `⭐ ${result.score} (💬 ${result.cmpReviewCnt})`;
			destCtgr.innerText = `${result.brandName}`;
			cmpState.innerText = `${result.state =='c' ? '영업 종료' : '영업 중'}`;
		});
	} //장소 정보 표시

	function onSelect(){ 
		brand.replaceChildren();
		let option = document.createElement('option');
		option.value = 0;
		option.innerText = '상세';
		brand.appendChild(option);
		
		fetch("/brand/list?ctgr="+category.value, {
	    	method: 'get',
	    	headers: {
	            'content-type': 'text'
	        },
	    })
	    .then((response)=>response.json())
	    .then((data)=>{
	    	data.forEach(item=>{
	    		let option = document.createElement('option');
	    		option.value = item.id;
	    		option.innerText = item.name;
	    		brand.appendChild(option);
	    	});
	    });
	}
	</script>
</main>
</html>