<html layout:decorate="~{layout/mypage_layout}">
<div class = "col-6" layout:fragment="content">
	<table class = "table table-sm table-borderless" >
		<tr>
			<th scope = "col"
			class = "col-2">아이디</th>
			<td th:text = "${session.userInfo.id}"></td>
		</tr>
		<tr>
			<th scope = "col"
			class = "col-2">배송지</th>
			<td th:text = "${session.userInfo.location}"></td>
		</tr>
		<tr>
			<th scope = "col"
			class = "col-2">가입일</th>
			<td th:text = "${#temporals.format(session.userInfo.joinDate, 'yy/MM/dd')}"></td>
		</tr>
	</table>
	<script type="text/javascript">
		let navMyPage = document.querySelector('#nav_mypage');
		let myInfoMenu = document.querySelector("#my_info");
		myInfoMenu.classList.add('active');
		navMyPage.classList.add('active');
	</script>
</div>

</html>