<ul th:fragment="mypageFragment" 
class="nav nav-pills flex-column col-2">
  <li class="nav-item">
    <a class="nav-link" 
    href="/mypage"
    id = "my_info">
    내 정보
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
    href="/review/mypage"
    id = "my_review">
    내 리뷰
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
    href="/review/recommend/list"
    id= "my_rec">
    내 추천
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
    </a>
  </li>
</ul>