<html layout:decorate="~{layout}">
<main class = "container"  
layout:fragment="content">
<nav th:replace = "~{nav :: navFragment}"></nav>
<div class = "d-flex flex-row">
<ul th:replace = "~{mypage_menu :: mypageFragment}"
></ul>
<div class = "col-9">
	<p th:text = "|${reviewPage.totalElements}개의 리뷰 작성함|"></p>
	<hr>
	<table class = "table table-sm table-borderless" >
		<tr>
			<th class = "col-1">점수</th>
			<th class = "col-4">지점</th>
			<th class = "col-4">내용</th>
			<th class = "col-2">날짜</th>
		</tr>
		<tr th:each = "review: ${reviewPage}">
			<td th:text = "|${review.score} ⭐|"></td>
			<td >
				<a th:href = "@{|/review/list?name=${review.cmpName}|}"
				th:text = "${review.cmpName}"></a>
			</td>
			<td th:text = "${review.content}"></td>
			<td th:text = "${#temporals.format(review.createDate, 'yy/MM/dd')}"></td>
			
		</tr>
	</table>
	<hr>
	<ul class = "pagination justify-content-center" 
	    th:if = "${reviewPage.totalPages} != 0"
	 	th:with = "block = 10,
	 	total = ${reviewPage.totalPages},
	 	number = ${reviewPage.number+1},
	 	sidx = ${((number-1)/block)*block+1}, 
	 	eidx = ${(total > sidx+(block-1) ? sidx+(block-1) : total)}">
	 		<li class = "page-item" 
	 		th:classappend="${number} == 1 ? disabled">
	 			<a class = "page-link" 
	 			th:href = "@{|/review/mypage?page=${number-1}|}">&lt;</a>
	 		</li>
	 		<th:block th:each = "idx:${#numbers.sequence(sidx, eidx)}">
	 		<li class = "page-item" 
	 		th:classappend="${number}==${idx} ? active">
	 			<a class = "page-link" 
	 			th:text = "${idx}" 
	 			th:href = "@{|/review/mypage?page=${idx}|}" ></a>
	 		</li>
	 		</th:block>
	 		<li class = "page-item" 
	 		th:classappend="!${reviewPage.hasNext} ? disabled">
	 			<a class = "page-link" 
	 			th:href = "@{|/review/mypage?page=${number+1}|}">&gt;</a>
	 		</li>
 		</ul>
 	</div>
</div>
<script type="text/javascript">
	let navMyPage = document.querySelector('#nav_mypage');
	let myInfoMenu = document.querySelector("#my_review");
	myInfoMenu.classList.add('active');
	navMyPage.classList.add('active');
	</script>
</main>
</html>