<html layout:decorate="~{layout}">
<main class = "container"  layout:fragment="content">
	<form action = "/order/create" 
	method = "post"
	class = "col-8 mx-auto">
		<h4 th:text = "${cmpName}"></h4>
		<div class="row mb-2">
			<b>수령방법</b>
			<div class = "input-group col-2 ml-3">
				<input type = "radio" 
				name = "receive" 
				class = "form-check-input"
				id ="get_1"
				>
				<label class = "form-check-label"
				for = "get_1">배송</label>
			</div>
			<div class = "input-group col">
				<input type = "radio" 
				name = "receive"
				class = "form-check-input" 
				id ="get_0"
				checked>
				<label class = "form-check-label"
				for = "get_0">매장방문</label>
			</div>
		</div>
		<div class = "row mb-2 d-none">
			<b>배송지점</b>
			<div class = "input-group col">
				<input type = "text" 
				class = "form-control"
				readonly 
				id = "dest_addr">
			</div>
		</div>
		<div class = "row mb-2">
		<b>주문내역</b>
		</div>
		<table th:if = "${cartList.size} != 0" 
		class = "table table-sm">
			<tr>
				<th class = "col-5">상품</th>
				<th class = "col-2">수량</th>
				<th class = "col-3">가격</th>
			</tr>
	        <tr th:each = "cart: ${cartList}" 
	        th:with = "total = 0">
	        	<td th:text = "|${cart.product.name}|"></b>
	        	</td>
	        	<td th:text = "${cart.count}">
	        		<input class = "d-none" type = "number" th:value = "${cart.count}">
	        	</td>
	        	<td>
	        		<span th:text = "${cart.product.price}" class = "price"></span>원
	        	</td>
	        </tr>
	        <tr>
	        	<td>
	        		<b>총 가격</b>
	        	</td>
	        	<td></td>
	        	<td>
	        		<input type = "number" id = "total_price">원
	        	</td>
	    </table>
	    <input type = "submit" 
	    class = "btn btn-custom mx-3"
	    value = "주문하기">
    </form>
	<style>
		img{
			width: 80px;
		}
	</style>
 	<script type="text/javascript">
	let navOrder = document.querySelector('#nav_cart');
	let priceList = document.querySelectorAll('.price');
	let totalPrice = document.querySelector("#total_price");
	
	window.addEventListener('load', function(){
		let sum = 0;
		priceList.forEach(function(p){
			sum += Number(p.innerText);
		});
		totalPrice.innerText = sum;
	});

	navOrder.classList.add('active');
	</script>
</main>
</html>