<html layout:decorate="~{layout}">
<main class = "container"  layout:fragment="content">
	<form action = "/order/create" 
	method = "post"
	class = "col-7 mx-auto">
		<div class = "input-group row">
			<span class = "input-group-text">주문지점</span>
			<input type = "text"  
	  		name = "cmp_name"
	  		class = "form-control form-control-plaintext"
	  		th:value = "${cartList.get(0).product.cmpName}">
		</div>
		<div class = "d-none">
			<input type = number
			value = 0
			name = "pid">
			<input type = number
			value=0
			name = count>
		</div>
		<table th:if = "${cartList.size} != 0" 
		class = "table table-sm">
			<tr class = "row table-primary">
				<th class = "col-7" scope = "row">상품</th>
				<th class = "col-2 ">수량</th>
				<th class = "col-3 ">가격</th>
			</tr>
	        <tr th:each = "cart: ${cartList}"
	        class = "row"
	        th:with = "total = 0">
	        	<td class =  "input-group col-7">
	        		<p
	        		 th:text = "|${cart.product.name}|"
	        		></p>
	        		<input type = "number"  
	        		name = "pid"
	        		class = "d-none"
	        		th:value = "${cart.productId}">
	        	</td>
	        	<td class = "input-group col-2">
	        		<input type = "number" 
	        		name = "count"
	        		class =  "form-control form-control-plaintext
	        		 text-end"
	        		th:value = "${cart.count}">
	        		<p>개</p>
	        	</td>
	        	<td class = "input-group col-3">
	        		<p
	        		class =  "price"
	        		th:text = "${cart.product.price * cart.count}"></p>
	        		<p>원</p>
	        	</td>
	        </tr>
	        <tr class = "row">
	        	<td class = "  col-9">
					<p>배송비</p>
				</td>
	        	<td class = "input-group  col-3">
	        		<input type = "number" 
	        		class =  "form-control form-control-plaintext 
	        		 text-end"
	        		id = "ship_price"
	        		>원
	        	</td>
	        </tr>
	        <tr class = "row">
	        	<td class = "col-9">
	        		<b>총 가격</b>
	        	</td>
	        	<td class = "input-group col-3">
	        		<input class =  "form-control form-control-plaintext"
	        		type="number"
	        		name = "total_price"
	        		id = "total_price">
	        		원
	        	</td>
	        </tr>
	    </table>
	    <input type = "submit" 
	    class = "btn btn-custom"
	    value = "주문하기">
    </form>
	<style>
		img{
			width: 80px;
		}
	</style>
 	<script type="text/javascript">
	let navOrder = document.querySelector('#nav_cart');
	let priceList = document.querySelectorAll('.price');
	let shipPrice = document.querySelector("#ship_price");
	let totalPrice = document.querySelector("#total_price");
	
	window.addEventListener('load', function(){
		let sum = 0;
		shipPrice.value  = 3000;

		priceList.forEach(function(p){
			sum += Number(p.innerText);
		});
		if(sum>=40000){
			shipPrice.value = 0;
		}
		sum += Number(shipPrice.value);
		totalPrice.value = sum;
	});

	navOrder.classList.add('active');
	</script>
</main>
</html>