<html layout:decorate="~{layout/cmp_layout}">
<main class = "container" layout:fragment="content">
	<div class = "d-flex align-items-center">
	
    <form action = "/product/cmp/create" method = "post" 
    th:if = "${param.pid==null}" class = "">
    	<div class = "input-group 
    	input-group-lg
    	mb-3 align-items-center">
    		<b class = "col-4">상품명</b>
    		<input type = "text" name = "name" 
	        class = "form-control" 
	        placeholder = "상품명" 
	        required 
	        value = "상품">
    	</div>
    	<div class = "input-group input-group-lg mb-3 align-items-center">
    		<b class = "col-4">가격</b>
    		<input type = "number" 
    		name = "price" 
    		class = "form-control" 
        	placeholder = "가격" 
        	required 
        	value = "10000" 
        	min = 0>
    	</div>
    	<div class = "input-group input-group-lg mb-3 align-items-center">
    		<b class = "col-4">재고량</b>
    		<input type = "number" 
    		name = "count" 
    		class = "form-control" 
       		required 
       		value = "100" 
       		min = 0>
    	</div>
        <input type = "submit" 
        value = "등록" 
        class = "btn btn-custom form-control btn-lg">
    </form>
    
    <form action = "/product/cmp/update" method = "post" 
    th:if = "${param.pid!=null}">
    	<input type = "number" class = "d-none" 
    	th:value = "${param.pid}" name = "id">
		<div class = "input-group 
    	input-group-lg
    	mb-3 align-items-center">
    		<b class = "col-4">상품명</b>
        	<input type = "text" 
        	name = "name" 
        	class = "form-control" 
        	placeholder = "상품명" 
        	required 
        	th:value = "${product.name}">
        </div>
        <div class = "input-group 
    	input-group-lg
    	mb-3 align-items-center">
    		<b class = "col-4">가격</b>
        	<input type = "number" 
        	name = "price" 
        	class = "form-control" 
        	required 
        	th:value = "${product.price}" 
        	min = 0>
        </div>
        <div class = "input-group 
    	input-group-lg
    	mb-3 align-items-center">
    		<b class = "col-4">재고량</b>
        	<input type = "number" 
        	name = "count" 
        	class = "form-control" 
        	required 
        	th:value = "${product.count}" 
        	min = 0>
		</div>
       	<input type = "submit" 
       	value = "수정" 
       	class = "btn btn-custom form-control btn-lg">
    </form>
    </div>
</main>

</html>