<html layout:decorate = "~{layout}">
<main class="container" layout:fragment = "content"
	th:with = "reviewCounts = ${reviewPage.getTotalElements},
	sort = ${param.sort == null ? 'r' : param.sort}">

    <!--장소 정보 -->

	<section class="cmp_info d-flex">
		<figure>
			<img th:src="@{|/img/${cmp.ctgrName}.png|}" 
			id = "dest_img">
		</figure>
		
		<div class = "cmp_details col-4">
			<a th:href = "@{|/product/list?cmp=${cmp.cmpName}|}"
			id = "product_list">
			<b id = "dest_name" 
			th:text = "${cmp.cmpName}"></b></a>
			<br>
			<div id = "dest_links" 
			class = "btn-group my-1">
				<a class = "btn btn-sm btn-outline-custom" 
				id ="fav_link" 
				th:href = "@{|/fav/add?name=${cmp.cmpName}|}">📍 북마크</a>
				<a class = "btn btn-sm btn-outline-custom" 
				id = "route_link" 
				th:href = "@{|/cmp/route?ename=${cmp.cmpName}|}">길찾기</a>
				<span class = "btn btn-sm btn-outline-custom" 
				id = "review_link">리뷰</span>
			</div>
			<br>
			<span id = "dest_ctgr"
			th:text = "${cmp.brandName}"
			class = "badge text-bg-secondary"></span>
			<br>
			<span id="dest_addr"
			th:text = "${cmp.cmpAddr}"></span>
			<br>
			<span id = "dest_score"
			th:text = "|⭐ ${cmp.score} (💬 ${cmp.cmpReviewCnt})|"></span>
		</div>
		
		<table class = "table table-sm col-4 table-borderless">
			<tr th:each = "idx:${#numbers.sequence(4, 0)}">
				<th scope = "row" 
				class = "col-2" 
				th:text = "|⭐ ${idx+1}|"></th>
				<td class = "col-4">
					<input type = "range" 
					min = 0 th:max = "${reviewCounts}" 
					th:value = ${scoreArr[idx]} 
					disabled
					></td>
				<td th:text = "|💬 ${scoreArr[idx]}|"
				class ="col-2"
				></td>
			</tr>
		</table>
	</section>
	<hr>
	
	<!--리뷰 작성/수정 폼 -->
	<div th:if = "${session.userInfo == null}">
		<a href = "/login">로그인</a>해 주세요
	</div>
 	<form th:if = "${session.userInfo!=null && myReview == null}" action = "/review/create" method = "post">
 		<input type = "hidden" th:value = "${param.id}" name = "cmpid">
 		<div class = "input-group">
 			<span class = "input-group-text">평점</span>
 			<input type = "number" min = "1" max = "5" name = "score" class = "form-control col-2">
 		</div>
 		<textarea class = "form-control my-3" name = "content" rows = "5">내용</textarea>
 		<input type = "submit" class = "btn btn-custom" value = "제출">
	</form>
	<div th:if = "${myReview != null}">
		<span th:text = "|⭐ ${myReview.score}|"></span>
		<b th:text = "${myReview.uid}" class = "user_id"></b>
		<span th:if = "${myReview.modifyDate == null}" th:text = "${#temporals.format(myReview.createDate, 'yy/MM/dd')}"></span>
	 	<span th:unless= "${myReview.modifyDate == null}" th:text = "|${#temporals.format(myReview.modifyDate, 'yy/MM/dd')} (수정됨)|"></span> 		
	 	
 		<p th:text = "${myReview.content}" class = "review_content show"></p>
 		<span class = "btn btn-sm btn-outline-disabled" th:text = "|👍 ${myReview.recCount}|"></span>
 		<a th:href = "@{|/review/modify?id=${myReview.id}&cmp=${cmp.cmpName}|}" role = "button" class = "btn btn-sm btn-custom">수정</a>
 		<a href = "javascript:void(0);" role = "button" class = "btn btn-sm btn-danger" id = "del_btn" 
 		th:data-uri = "@{|/review/delete?id=${myReview.id}|}">삭제</a>
 	</div>
 	<hr>

 	<!--리뷰 정렬 폼 -->
 	
 	<form id = "review_search_form" class = "input-group align-items-center justify-content-between">
	 	<input type = "hidden" name = "name" th:value = "${cmp.cmpName}">
	 	<span th:text = "|${reviewCounts}개의 리뷰가 있습니다|"></span>
	 	<select class = "form-control col-3" name = "sort" id = "order_input">
	 		<option value = "r" th:selected = "${#strings.equals(sort, 'r')}">추천순</option>
	 		<option value = "d" th:selected = "${#strings.equals(sort, 'd')}">최신순</option>
	 	</select>
 	</form>
 	
 	<!--리뷰 출력 -->
 	
 	<div th:unless = "${reviewCounts}==0">
	 	<ul class = "list-group my-3">
	 		<li class = "list-group-item review_item" 
	 		th:each = "review : ${reviewPage}"
	 		th:if = "${session.userInfo == null || review.uid != session.userInfo.getId}">
	 			<div class = "review_title">
	 				<span th:text = "|⭐ ${review.score}|"></span>
	 				<b th:text = "${review.uid}" class = "user_id"></b>
	 				<span th:if = "${review.modifyDate == null}" th:text = "${#temporals.format(review.createDate, 'yy/MM/dd')}"></span>
	 				<span th:unless= "${review.modifyDate == null}" th:text = "|${#temporals.format(review.modifyDate, 'yy/MM/dd')} (수정됨)|"></span>
	 			</div>
	 			<div>
	 				<p th:id = "|content${review.id}|"  
	 				th:text = "${review.content}" class = "review_content"></p>
	 			</div>
	 			<div>		
	 				<a class = "btn btn-outline-custom btn-sm recommend" 
					th:href = "@{|/review/recommend?id=${review.id}|}"
					th:classappend = "${review.uid== '0'} ? 'btn-custom' : 'btn-outline-custom'"
					th:text = "|👍 ${review.recCount}|"></a>
 				</div>
	 		</li>
	 	</ul>
	 	
	 	<!--페이징 -->
	 	
	 	<ul class = "pagination justify-content-center" 
	    th:if = "${reviewPage.totalPages} != 0"
	 	th:with = "block = 10,
	 	total = ${reviewPage.totalPages},
	 	number = ${reviewPage.number+1},
	 	sidx = ${(number/block)*block+1}, 
	 	eidx = ${(total > sidx+(block-1) ? sidx+(block-1) : total)}">
	 		<li class = "page-item" 
	 		th:classappend="${number} == 1 ? disabled">
	 			<a class = "page-link" 
	 			th:href = "@{|/review/list?name=${cmp.cmpName}&sort=${sort}&page=${number-1}|}">&lt;</a>
	 		</li>
	 		<th:block th:each = "idx:${#numbers.sequence(sidx, eidx)}">
	 		<li class = "page-item" 
	 		th:classappend="${number}==${idx} ? active">
	 			<a class = "page-link" 
	 			th:text = "${idx}" 
	 			th:href = "@{|/review/list?name=${cmp.cmpName}&sort=${sort}&page=${idx}|}" ></a>
	 		</li>
	 		</th:block>
	 		<li class = "page-item" 
	 		th:classappend="!${reviewPage.hasNext} ? disabled">
	 			<a class = "page-link" 
	 			th:href = "@{|/review/list?name=${cmp.cmpName}&sort=${sort}&page=${number+1}|}">&gt;</a>
	 		</li>
 		</ul>
 	</div>
 	<hr>
 	<script>
	let reviewSearchForm = document.querySelector('#review_search_form');
	let orderInput = document.querySelector("#order_input");
	let navStore = document.querySelector('#nav_store');
	navStore.classList.add('active');
	
	orderInput.addEventListener('change', function(){
		reviewSearchForm.submit();
	});
	
	let reviewContents = document.querySelectorAll(".review_content");
	let showClass = 'show';

	reviewContents.forEach(function(p){
		if(p.offsetHeight >= 72 && p.id != "") { //1rem = 10px
			let btn = document.createElement("span");
			btn.classList.add('btn');
			btn.classList.add('btn-sm');
			btn.classList.add('btn-toggle');
			btn.innerText = "more";
			btn.setAttribute('id','more'+p.id.substring(7)); //p태그 id 필수
			btn.addEventListener('click', function(event){
				let btnId = event.target.id.substring(4);
				let targetContent = document.querySelector('#content'+btnId);
				if(targetContent.classList.contains(showClass)){
					targetContent.classList.remove(showClass);
					event.target.innerText = "more";
				}else{
					targetContent.classList.add(showClass);
					event.target.innerText = "hide";
				}
			})
			p.parentElement.appendChild(btn);
		}
	});
 	</script>
</main>
</html>