<html layout:decorate = "~{layout}">
<main class="container" layout:fragment = "content">
    <hr>
    <form action = "/review/modify" method = "post">
 		<input type = "hidden" th:value = "${param.place}" name = "placeid">
 		<input type = "hidden" th:value = "${myReview.id}" name = "id">
		<div class = "input-group">
			<span class = "input-group-text">평점</span>
			<input type = "number" min = "1" max = "5" name = "score" class = "form-control col-2" th:value = "${myReview.score}" required>
		</div>
 		<textarea class = "form-control my-3" name = "content" rows = "5" th:text = "${myReview.content}"></textarea>
 		<input type = "submit" class = "btn btn-custom" value = "수정">
 	</form>
 </main>
 </html>