<html layout:decorate="~{layout/cmp_layout}">
<main class = "container"  layout:fragment="content">
   	<table class = "table table-sm">
       	<tr>
       		<th>상품</th>
       		<th>수량</th>
       		<th>가격</th>
       		<th>날짜</th>
       	</tr>
       	<th:block th:each = "order: ${orderPage}">
        	<tr th:each = "detail : ${order.odList}">
        		<td th:text = "${detail.productName}"></td>
        		<td th:text = "${detail.productCount}"></td>
        		<td th:text = "${detail.productPrice}"></td>
        		<td th:text = "${#temporals.format(order.date, 'yy/MM/dd')}"></td>
        	</tr>
       	</th:block>
    </table>
    <hr>
    <ul class = "pagination justify-content-center" 
    th:if = "${orderPage.totalPages} != 0"
 	th:with = "block = 10,
 	total = ${orderPage.totalPages},
 	number = ${orderPage.number+1},
 	sidx = ${(number/block)*block+1}, 
 	eidx = ${(total > sidx+(block-1) ? sidx+(block-1) : total)}">
 		<li class = "page-item" th:classappend="${number} == 1 ? disabled">
 			<a class = "page-link" 
 			th:href = "@{|/order/cmp/sales?page=${number-1}|}">&lt;</a>
 		</li>
 		<th:block th:each = "idx:${#numbers.sequence(sidx, eidx)}">
 		<li class = "page-item" th:classappend="${number}==${idx} ? active">
 			<a class = "page-link" th:text = "${idx}" 
 			th:href = "@{|/order/cmp/sales?page=${idx}|}" ></a>
 		</li>
 		</th:block>
 		<li class = "page-item" th:classappend="!${orderPage.hasNext} ? disabled">
 			<a class = "page-link" th:href = "@{|/order/cmp/sales?page=${number+1}|}">&gt;</a>
 		</li>
 	</ul>
 	 <script>
	 let navSales = document.querySelector('#nav_sales');
	 navSales.classList.add('active');
	 </script>
	 <script src = "/js/purchase.js"></script>
 </main>

 </html>