<header th:fragment="headerFragment" class = "mb-3">
	<div class = "container d-flex justify-content-between">
    <h3>
    	<a class="nav-link" 
    	href="/cmp" 
    	th:if = "${session.cmpInfo==null}"
    	>Company</a>
    	<a class="nav-link" 
    	href="/cmp" 
    	th:if = "${session.cmpInfo!=null}"
    	th:text = "${session.cmpInfo.cmpName}"></a>
    </h3>
    <ol class="nav nav-pills">
    	<li class="nav-item">
			<a href="/order/cmp/list" 
			class="nav-link" 
			id = "nav_order">주문관리</a>
		</li>
		<li class="nav-item">
			<a href="/order/cmp/sales" 
			class="nav-link" 
			id = "nav_sales">판매내역</a>
		</li>
		<li class="nav-item">
			<a href="/product/cmp/list" 
			class="nav-link" 
			id = "nav_product">상품관리</a>
		</li>
		<li class="nav-item" >
			<a href="/cmp/mypage" 
			class="nav-link" 
			id = "nav_mypage"
			>매장관리</a>
		</li>
        <li class="nav-item">
            <a th:if = "${session.cmpInfo==null}"
            class="nav-link" href="/login">Login</a>
            <a th:if = "${session.cmpInfo!=null}"
            class = "nav-link" href = "/cmp/logout">Logout</a>
        </li>
    </ol>
    </div>
</header>
